[fedora-updates]
name=Fedora {{ rpm_ostree_fedora_release }} - $basearch - Updates
metalink=https://mirrors.fedoraproject.org/metalink?repo=updates-released-f{{ rpm_ostree_fedora_release }}&arch=$basearch
enabled=1
gpgcheck=0
