---
# Handlers for Apache role

- name: Restart httpd
  ansible.builtin.systemd:
    name: httpd
    state: restarted

- name: Restart apache2
  ansible.builtin.systemd:
    name: apache2
    state: restarted
